header .cusheader.et_pb_sticky--top {
  background-color: #23ff00 !important;
  box-shadow: 0 3px 14px rgb(0 0 0 / 12%);
}
          


.cusform form .gform_footer.top_label input.gform_button {
  margin: 0 !important;
  padding: 13px 45px;
  border: 1px solid #4dff00;
  background-color: #23ff00;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 7px;
  line-height: normal !important;
  height: unset !important;
  min-height: unset !important;
  cursor: pointer;
  box-shadow: 0 3px 14px rgb(0 0 0 / 12%);
}


.recent_post_foot .widget_search #searchform input#searchsubmit {
  background-color: #23ff00;
  border-color: #3aff00;
  color: #fff;
  border-radius: 5px;
  padding: 0 15px !important;
  width: auto;
  box-shadow: 0 3px 14px rgb(0 0 0 / 12%);
}


.cusheader .et_pb_menu .et_pb_menu__menu>nav>ul>li.contact-button.btn-orange a, .cusheader .et_pb_menu .et_pb_menu__menu>nav>ul>li.contact-button a:hover {
  background-color: #10ff00 !important;
  color: #fff !important;
  border-color: #28ff00 !important;
  box-shadow: 0 3px 14px rgb(0 0 0 / 12%);
}

